#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-around;
  width: 500px;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  animation: pulse 2s infinite;
}

.box:hover {
  animation: bounce 2s infinite;
}

.xin {
  position: relative;
  width: 200px;
  height: 200px;
  background-color:red;
  box-shadow:red 0 0 10px;
  transform: rotate(45deg);
}

.xin::after,
.xin::before {
  content: '';
  position: absolute;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: red;
  box-shadow:red 0 0 10px;
}

.xin::after {
  left: -100px;
}

.xin::before {
  top: -100px;
}

.goin {
  transform: translateY(-100px);
  text-align: center;
  color: #fd5757;
  font-size: 20px;
  animation: flash 4s infinite;
}

.jm {
  color: #fd5757;
  display:inline-block;
  animation: heartBeat 2s infinite;
}
